<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display+SC|Prata" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <title>Express Gallery</title>
</head>

<body>
  <div id="login">
    <form action="/logout?_method=GET" enctype="application/x-www-form-urlencoded">
      <button id="loginButton" type="submit" value="Login">Login/Logout</button>
    </form>
  </div>
  <div id="titleDescription"> Welcome to our online portfolio, we are a small group of passionate travelers and
    photographers, looking to change
    and create amazing digital images to inspire others to follow in our innovative steps. Free Traveling WordPress
    Theme</div>
  <a style="text-decoration:none" href="/gallery">
    <h1 id="title">_TravelWall</h1>
  </a>
  {{{body}}}
</body>

</html>