{{#each photos}}
<span id="secondAuthor">{{author}}</span>
<span id="secondLink">{{link}}</span>
<img src="{{link}}" alt="gallery photo" srcset="" id="secondPhoto">
<div id="description">{{description}}</div>
{{/each}}