<body>
  <div id="loginContainer">
    <h3>Login:</h3>
    <form action="/login" method="POST">
      <label for="username">Username:</label><br>
      <input type="text" name="username" />

      <br><br>

      <label for="password">Password:</label><br>
      <input type="password" name="password" />

      <br><br>

      <button id="loginButton">Login</button>
      <p id="registerRef">Dont have a account? <br>
        <a href="/register">Register Here</a></p>
    </form>
  </div>
</body>